form, input{
	margin-bottom: 5px !important;
}
.side-form-container{
    border: 1px solid #f1f1f1;
    background: #fbfbfb;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 6px;
}
.search-container{
	height: 190px;
	background: #fff;
	margin-bottom: 2px;
	.form-group{
		background: #ddd;
 		.labels-area{
			height: 60px;
			
 		}
 		.forms-area{
			height: 60px;
			
 		}   

	}


}