@import "_mixins";
@import "_colors";
form, input{
	margin-bottom: 5px !important;
}
.side-form-container{    
}

.side-input-container{
	width: 80%;
}
.main-side-button{
	width: 80%;
    height: 38px;
	border-radius: 0;
    background: #000;
    border: none;
    color: #fff;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;


    padding: 0 30px;
    
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    
    
    cursor: pointer;
    


    &:hover {
        background: $main-logo-color;
        border: none;  
        color: #FFF;
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform:   scale(1.1);
        transform: scale(1.0);
        -webkit-transition: all .3s ease-out;
        -moz-transition: all .3s ease-out;
        -ms-transition: all .3s ease-out;
        -o-transition: all .3s ease-out;
        transition: all .3s ease-out;
    }    
}

.form-item {
    margin-right: 12px;
    position: relative;
}
.form-label {
    font-family: Gotham Medium,"M Hei PRC W45","M Hei HK W42","M Hei HK W40","HelveticaNeue-Regular","Helvetica Neue Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-size: 11px;
    line-height: 14px;
    padding-bottom: 4px;
    display: block;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
    color: gray;
}
input{
	outline: 0;
    border: 1px solid #d0d0d0;
    transition: background-color 200ms linear;
    padding: 4px 10px;
    width: 100%;
    margin: 0;
    font-size: 16px;
    background-color: #f7f7f7;    
}

/* --------- Buttons ------ */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}

select{
    outline: 0;
    border: 1px solid #d0d0d0;
    transition: background-color 200ms linear;
    padding: 2px 10px;
    width: 100%;
    margin: 0; 
    background-color: #f7f7f7;       
    border-radius: 0;                
    -webkit-appearance: none;
}

.chosen-single{
    padding: 11px 40px 11   px 10px !important;
    border-radius: 0 !important;
    
    line-height: 18.4px !important;
    position: relative !important;
    display: block !important;
    width: 100% !important;
    height: 100% !important;
    background: #f7f7f7 !important;    
    -webkit-appearance: none !important;
    outline: 0 !important;
    border: 1px solid #ccc !important;
    box-shadow: none !important;
}

.search-by-text-container{
	width: 100%;
}
.search-forms-container{
	width: 60%;	
	
	padding: 12px 12px 0 40px;
}
.search-button-container {
	width: 15%;
}

.search-button-container{
	position: relative;
    top: 40px;
    cursor: pointer;
    left: 82px;
    border: 4px solid #000	;
    color: #000;    
    padding-top: 34px;
    padding-left: 18px;
	width: 100px;
    height: 100px;    
    border-radius: 50%;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    &:hover {
        background: $main-logo-color;
        border: none;
        color: #FFF;
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform:   scale(1.1);
        transform: scale(1.1);
        -webkit-transition: all .3s ease-out;
        -moz-transition: all .3s ease-out;
        -ms-transition: all .3s ease-out;
        -o-transition: all .3s ease-out;
        transition: all .3s ease-out;
    }
}

.search-icon-container{
	font-size: 50px;
    position: relative;
    top: 8px;
    left: 20px;    
    cursor: pointer;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    &:hover {
        color: $main-logo-color;
        border: none;
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform:   scale(1.1);
        transform: scale(1.1);
        -webkit-transition: all .3s ease-out;
        -moz-transition: all .3s ease-out;
        -ms-transition: all .3s ease-out;
        -o-transition: all .3s ease-out;
        transition: all .3s ease-out;
    }
}

.chosen-container chosen-container-single{
    width: 100%;
    height: 40px !important;
}
.chosen-container-single .chosen-search input[type="text"]{
    background: none !important;
    font-family: $main-font-family;
    height: 30px;
    border: 1px solid #ccc;
}

.chosen-container .chosen-drop{
    box-shadow: none;
    border-radius: 0;
    background: none;
    border: 1px solid #ccc;

}
.chosen-container-single .chosen-single div {
    padding: 10px 40px 10px 10px;
    border-radius: 0;
    font-size: 16px;
    line-height: 18.4px;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background-color: transparent;
    -webkit-appearance: none;

}
.chosen-search-input{

}



// Switch for checkbox styling
// TODO: need to account for disabled inputs!
.checkbox-switch {
  input[type=checkbox] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  label {
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
    outline: none;
    user-select: none;
  }

  .toggle-switch {
    // display: block;
    position: relative;
    display: inline-block;
    position: relative;
    padding: 2px;
    width: 40px;
    height: 24px;
    background-color: $gray-light;
    border-radius: 24px;
    transition: background 0.4s;
    margin-right: 4px;
    margin-bottom: 4px;
    vertical-align: middle;

    &:before,
    &:after {
      display: block;
      position: absolute;
      content: "";
    }

    &:before {
      top: 2px;
      left: 2px;
      bottom: 2px;
      right: 2px;
      background-color: #fff;
      border-radius: 24px;
      transition: background 0.4s;
    }

    &:after {
      top: 4px;
      left: 4px;
      bottom: 4px;
      width: 16px;
      background-color: $gray-light;
      border-radius: 16px;
      transition: margin 0.4s, background 0.4s;
    }
  }

  input[type=checkbox] {
    &:focus,
    &:checked {
      & + label {
        .toggle-switch {
          background-color: $main-logo-color;
        }
      }
    }
    &:checked {
      & + label {
        .toggle-switch {
          &:after {
            margin-left: 16px;
            background-color: $main-logo-color;
          }
        }
      }
    }
  }
}
.text-area-amharic-modal{
    min-height: 227px;
    max-width: 98%;
}