form, input{
	margin-bottom: 5px !important;
}
.side-form-container{
    background: #fafafa;
    padding: 10px;
}
.search-container{
	height: 190px;
	background: #fff;
	.form-group{
		
 		.labels-area{
			height: 60px;
			
 		}
 		.forms-area{
			height: 60px;
			
 		}   

	}


}