.modal-dialog{
	.modal-content{
		
		border-radius: 0;
		.modal-header{
			border: none;
		}

		.modal-body{
			padding: 0 80px;
			.welcome-text{
				text-align: center;
    			font-size: 34px;
    			font-weight: 900;
			}
			.site-name{
				text-align: center;
    			line-height: 10px;
    			font-weight: 200;
    			font-weight: 400;
    			line-height: 20px;
			}

			.member-qn{
				text-align: center;    		
    			font-size: 20px;
    			margin-top: 24px;
    			font-weight: 800;				
			}

			.modal-playlists-counter{
				padding: 3px 14px;
    			text-align: 12px;
    			font-size: 13px;
    			color: #ff0e0e;
    			border: 1px solid #dcdcdc;
    			border-radius: 4px;			
			}			     
			.sign-up-area{
				margin-top: 20px;
			}						      

			.benefits-pack-holder{
				margin-top: 20px;
    			padding: 16px 0;
    			margin-bottom: 20px;
    			font-size: 13px;
				.benefits-holder{
					overflow: auto;
				}
			}
		}

		.modal-all-playlists-container{
			margin-bottom: 12px;
			.modal-playlist-item-container{
				overflow: auto;
    			margin-left: auto;
    			margin-right: auto;
    			padding: 5px 20px;
    			background: #f9f9f9;
    			margin: 4px 0;
    			border: 1px solid #f5f5f5;
    		}
		}


	}
}