.navbar{
	min-height: 70px;
	border: none;
}
audio{
	
    overflow: auto;
    width: 68%;
    height: 55px;
    padding: 10px;
}

.container{
	width: 98% !important;
}
.mid-navigation{
	width: 80%;	
}
.left-navigation{
	width: 20%;
	background: #fff;	
}
.right-navigation{
	width: 20%;
	background: #fff;
}

.navbar{
	border-radius: 0;
}
.navbar-default {
    background-color: #000000;
    border-color: #e7e7e7;
    color: #fff;
    font-size: 13px;
}    
.navbar-default .navbar-brand {
	color: #FFF;
}

.navbar-brand{
    float: left;
    padding: 15px;
    font-size: 13px;
    line-height: 20px;
    height: 39px;
    text-transform: uppercase;
}

.nav .navbar-nav > a{
	color: #FFF;	
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.media-body {
    width: 60%;
}
.list-group-item{
	border: none;
	border-bottom: 1px solid #e2e2e2;
	padding: 8px 16px;
}
.list-group-item:last-child{
	border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
	border-top-right-radius: 0px;
    border-top-left-radius: 0px;    
}
.list-group-item:first-child{
	border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;	
	border-top-right-radius: 0px;
    border-top-left-radius: 0px;    
}

.singer-cover-listing{
	background: #fff;
    /*border: 2px solid #AD974F;*/
    border-radius: 50%;
    /*height: 50px;*/
    width: 40px;
    position: relative;

    margin-right: 10px;
}

.small-singer-cover-listing{
    border-radius: 50%;
    width: 24px;
    position: relative;
}

.song-lyrics{
	font-family: Nyala, "Raleway", Arial, sans-serif;
	color: #9a9896;
	font-size: 12px;
}

.all-song-items-container{
	background: #fff;
	padding-top: 12px !important;
}
.audio-header{
	padding-left: 35px;
	padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
}
.sort-container{
	height: 90px;
	background: #f1f1f1;
	.sort-items-holder{
		
		margin-right: 30px;
		.sort-item{
    		border-right: 1px solid #c5c5c5;
    		height: 90px;
    		padding: 14px 26px;
			height: 90px;

			.amharic-text{

			}
			.english-text{

			}
		}
	}
}
.singer-name-listing{
	font-weight: 200;
    font-size: 14px;
}
.current-singer-name{
	font-size: 16px;
    font-weight: 700;
    color: black;
    text-transform: uppercase;
    margin-left: 20px;
}
.current-song-title{
	margin-left: 20px;	
}
.song-action-buttons{
	font-size: 16px;
	color: #7b7b7b;
    padding: 0px 10px;
    cursor: pointer;
}
.site-toggle-buttons{
	font-size: 12px;
	color: #7b7b7b;
    padding: 0px 10px;
    cursor: pointer;	
}
.song-title {
	cursor: pointer;
	font-family: Nyala, "Raleway", Arial, sans-serif;
}
#playlist a.active{
	color: red;
}
#playlist div a.active{
	color: red;
}
.song-title-span{	
    margin-left: 10px;
}
.slogan{
	color: #a0a0a0;
    position: absolute;
    margin-top: 36px;

}
.amharic{
	font-family: nyala;
}

#audioplayer{
  width: 480px;
  height: 75px;
  margin: 50px auto auto auto;
  border: solid;
  text-align:center;
  background-color: rgba(5, 173, 13, 0.49);
}
.mz-btns{
	height: 32px;
	line-height: 32px;
	border-radius: 0;
	font-size: 9px;
	margin-right: 3px;
}
.btns-small{
	height: 26px;
    line-height: 26px;
    padding: 0 15px;
    border: 1px solid #e2e2e2;
    color: #757575;
}
.side-listing-container{
    padding: 6px 0px;
    margin: 10px 0;
    overflow: auto;
    font-size: 12px;
    border-top: 1px solid #f1f1f1;
}

.title-container{
	/*background: #a2a2a2;*/
    padding: 6px 12px;
	color: #888;    
    .big-title{
		text-transform: uppercase;
    	font-weight: 800;    
    }
    .small-title{		
    	font-size: 14px;
    	font-weight: 600;   
    }
}
.side-content-container{
}
.popover{
	border-radius: 0;
}
.popover-title {
    margin: 0;
    font-family: "Raleway", Arial, sans-serif;
    padding: 8px 14px;
    font-size: 11px;    
    line-height: 18px;
    background-color: #f7f7f7;
    text-transform: uppercase;
    font-weight: 800;    
}
.hidden {
  display: none;
}
.highlighted{
	color: #07aef3;
}
.song-holder{
	height: 250px;
    width: 200px;
    display: inline-block;
    margin: 4px 0 4px 10px;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    
    
    .song-item{
    	height: 220px;
    	border-bottom: 1px solid #e0e0e0;
    }
    .play-button-area{
		
    	text-align: center;
    	padding: 6px;
    	.play-button{    		
    		margin-left: auto;
    		margin-right: auto;
    		.p-button{
    		    position: relative;
    			top: 10px;
    			font-size: 26px;
    			color: #bfbfbf;
    		}
    	}
    }
    .edit-song-area{
		margin-top: 18px;
    	text-align: center;
    	padding: 6px;
    	.edit-button{    		    		
    		margin-left: auto;
    		margin-right: auto;
    	}    	
    }
    .song-content-area{
		margin-top: 30px;
    	margin-left: 8px;
    	.song-title-container{
    		font-weight: 600;
    	}
    }
    .see-lyrics-area{
    	margin-left: 8px;
    }
    .song-activity-button-area{
    	padding-top: 4px;
    	padding-right: 4px;
    	background: #f1f1f1;
    	overflow: auto;
    	.add-icon{
    		color: #8e8e8e;
    		cursor: pointer;
    	}
    }


}