@import "_mixins";
@import "_colors";

.navbar{
	min-height: 70px;
	border: none;
    margin-bottom: 0;
}
audio{
	outline: none;
    overflow: auto;
    width: 100%;
    height: 55px;
    padding: 10px;
}

.container{
	width: 98% !important;
}
.major-navigation{    
    
}
.first-layer{
    background: #fff;
    overflow: auto;
}
.second-layer{
    background: #fafafa;
    padding-top: 10px;
    overflow: auto;
}
.third-layer{
    background: #fafafa;
    overflow: auto;
}
.mid-navigation{
	width: 80%;	
}
.right-navigation{
	width: 20%;
}

.navbar{
	border-radius: 0;
}
.navbar-default {
    background-color: #000000;
    color: #fff;
    font-size: 13px;
}    
.navbar-default .navbar-brand {
	color: #FFF;
}

.navbar-brand{
    float: left;
    padding: 15px;
    font-size: 13px;
    line-height: 20px;
    height: 39px;
    text-transform: uppercase;
}

.nav .navbar-nav > a{
	color: #FFF;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.media-body {
    width: 60%;
}
.list-group-item{
	border: none;
	border-bottom: 1px solid #e2e2e2;
	padding: 8px 16px;
}
.list-group-item:last-child{
	border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
	border-top-right-radius: 0px;
    border-top-left-radius: 0px;    
}
.list-group-item:first-child{
	border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;	
	border-top-right-radius: 0px;
    border-top-left-radius: 0px;    
}

.singer-cover-listing{
	background: #fff;
    /*border: 2px solid #AD974F;*/
    border-radius: 50%;
    /*height: 50px;*/
    width: 40px;
    position: relative;

    margin-right: 10px;
}

.small-singer-cover-listing{
    border-radius: 50%;
    width: 24px;
    position: relative;
}

.song-lyrics{
	font-family: Nyala, "Raleway", Arial, sans-serif;
	color: #9a9896;
	font-size: 12px;
}

.all-song-items-container{
	border-top: 1px solid #ddd;
	padding-top: 12px !important;
    padding-top: 20px;
    clear: both;    
}
.audio-header{
	padding-right: 35px;
    min-height: 120px;
    margin-left: auto;
    margin-right: auto;
}
.sort-container{
	height: 90px;
	background: #fafafa;
	.sort-items-holder{
		
		margin-right: 30px;
		.sort-item{    		
    		height: 90px;
    		padding: 14px 26px;
			height: 90px;
            .sort-icon-description{
                margin-right: 10px;
                padding: 16px 0px;
                background: #f9c7c8;
                border-radius: 50%;
                width: 55px;
                height: 55px;
                text-align: center;
                .description-icon{
                    color: $main-logo-color;
                    font-size: 18px;
                }
            }
            .text-area{
                font-size: 14px;
                color: #000;
                font-weight: 800;
                text-transform: uppercase;
			     .amharic-text{

			     }
			     .english-text{

			     }
                 .sort-icon-container{
                    text-align: center;
                 }
                 .count-number{
                    text-align: center;  
                    font-size: 16px;
                 }
            }     
		}
	}
}
.singer-name-listing{
	font-weight: 200;
    font-size: 14px;
}
.current-singer-name{
	font-size: 16px;
    font-weight: 700;
    color: black;
    text-transform: uppercase;
    margin-left: 20px;
    margin-top: 6px;
    .current-singer-name-text{
        margin-right: 12px;
    }
}
.current-song-title{
	margin-left: 20px;
}
.song-action-buttons{
	font-size: 14px;
    cursor: pointer;
}
.site-toggle-buttons{
	font-size: 12px;
    padding: 0px 6px;
    cursor: pointer;
}
.playlist-length-container{
    text-align: center;
    font-weight: bold;
}
.playlist-trash-icon-container{
    text-align: right;
    width: 20px;
}
.song-title {
	cursor: pointer;
	font-family: Nyala, "Raleway", Arial, sans-serif;
}
#playlist a.active{
	color: red;
}
#playlist div a.active{
	color: red;
}
.song-title-span{	
    margin-left: 10px;
}
.slogan{
	color: #a0a0a0;
    position: absolute;
    margin-top: 36px;

}
.amharic{
	font-family: nyala;
}

#audioplayer{
  width: 480px;
  height: 75px;
  margin: 50px auto auto auto;
  border: solid;
  text-align:center;
  background-color: rgba(5, 173, 13, 0.49);
}
.mz-btns{
	height: 32px;
	line-height: 32px;
	border-radius: 0;
	font-size: 9px;
	margin-right: 3px;
    color: #fff;
}
.btns-small{
	height: 26px;
    line-height: 26px;
    padding: 0 15px;
    border: 1px solid #e2e2e2;
    color: #8e8e8e;
}
.side-listing-container{
    padding: 6px 0px;
    margin: 10px 0;
    overflow: auto;
    font-size: 12px;
    padding-right: 14px;
    border-top: 1px solid #f1f1f1;
}
.playlist-listing-container
{

    padding: 6px 20px;
    margin: 10px 0;
    overflow: auto;
    font-size: 12px;
    border-right: 1px solid #d4d4d4; 

}

.title-container{
    padding: 8px 0px;
    .big-title{
		text-transform: uppercase;
    	font-weight: 800;    
    }
    .small-title{		
    	font-size: 14px;
    	font-weight: 600;   
    }
}
.side-content-container{
}
.popover{
	border-radius: 0;
}
.popover-title {
    margin: 0;
    font-family: "Raleway", Arial, sans-serif;
    padding: 8px 14px;
    font-size: 11px;    
    line-height: 18px;
    background-color: #f7f7f7;
    text-transform: uppercase;
    font-weight: 800;    
}
.hidden {
  display: none;
}
.highlighted{
	color: $main-logo-color !important;
}
.now-playing-highlighted{
    color: black !important;   
}
.active-song-holder{
    border: 1px solid $main-logo-color !important;   
}
.song-holder{
	height: 250px;
    width: 200px;
    display: inline-block;
    margin: 4px 0 4px 10px;        
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    background: #fff;
    /*box-shadow: 0 1px 2px rgba(25,25,25,0.2);*/
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;    
    .song-item{
    	height: 219px;    	
    }
    .play-button-area{
		
    	text-align: center;
    	padding-top: 10px;
    	.play-button{    		
            margin-left: auto;
            margin-right: auto;
            width: 54px;
            height: 54px;
            padding-top: 6px;
            cursor: pointer;
            padding-left: 6px;
            border-radius: 50%;
            border: 1px solid #d9dedc;      
            color: #d9dedc;
            -webkit-transition: all .3s ease-out;
            -moz-transition: all .3s ease-out;
            -ms-transition: all .3s ease-out;
            -o-transition: all .3s ease-out;
            transition: all .3s ease-out;

            &:hover {
                background: $main-logo-color;
                border: none;  
                color: #FFF;
                -webkit-transform: scale(1.1);
                -moz-transform: scale(1.1);
                -ms-transform: scale(1.1);
                -o-transform:   scale(1.1);
                transform: scale(1.1);
                -webkit-transition: all .3s ease-out;
                -moz-transition: all .3s ease-out;
                -ms-transition: all .3s ease-out;
                -o-transition: all .3s ease-out;
                transition: all .3s ease-out;
            }

    		.p-button{
                position: relative;
                top: 9px;
                font-size: 18px;                
                cursor: pointer;
    		}

    	}
        .play-button-active{
            margin-left: auto;
            margin-right: auto;
            cursor: pointer;           
            width: 54px;
            height: 54px;
            padding-top: 3px;
            border-radius: 50%;
            background: $main-logo-color;   
            .p-button-active{
                position: relative;
                top: 12px;
                font-size: 20px;
                color: #fff;
                      
            }
        }

        .play-button-editable{
            margin-left: 162px;
            cursor: pointer;          
            width: 18px;
            height: 18px;
            padding-top: 0px;
            border-radius: 50%;
            background: $main-logo-color;   
            .p-button-editable{
                position: relative;
                top: -4px;
                font-size: 11px;
                color: #fff;
                cursor: pointer;            
            }
        }

    }
    .song-content-area{
		margin-top: 30px;
    	margin-left: 8px;
    	.song-title-container{
    		font-weight: 600;
            font-size: 13px;
    	}
    }
    .see-lyrics-area{
    }
    .song-activity-button-area{
        border-top: 1px solid #e0e0e0;
    	padding: 2px 10px;
    	background: #f7f7f7;
        overflow: visible;    
        height: 29px;	
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;        
    	.action-icon{
    		cursor: pointer;
            margin-left: 25px;
            outline: none;
    	}
    }

    .song-activity-button-area-active{
        border-top: 1px solid #ff7576;
        padding: 2px 10px;
        background: $main-logo-color;
        overflow: visible;
        height: 29px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px; 
        .action-icon-active{
            color: #fff;
            cursor: pointer;
            margin-left: 25px;
            outline: none;        
        }
    }
    .edit-song-area{
        text-align: right;
        padding: 4px;
        .edit-button{
            position: relative;
            bottom: 40px;
            left: 42px;
            .edit-song-icon{
                font-size: 23px;
                color: #000000;
                cursor: pointer;
            }
        }       
    }
    .likes-count-active{
        color: #fff;
        font-size: 13px;
    }
    .likes-count{
        color: #000;
        font-size: 13px;
        font-weight: 600;
    }


    &:hover {
        border: 1px solid $main-logo-color;

        -webkit-transition: all .3s ease-out;
        -moz-transition: all .3s ease-out;
        -ms-transition: all .3s ease-out;
        -o-transition: all .3s ease-out;
        transition: all .3s ease-out;
    }


}
.edit-song-icon{
    font-size: 23px;
    color: #000000;
    cursor: pointer;
}
.user-pic-container{
    color: #c3c3c3;
    font-size: 26px;
    text-align: center;
    margin-left: 28px;
}