@import "_mixins";
@import "_colors";

.navbar{
	min-height: 70px;
	border: none;
}
audio{
	outline: none;
    overflow: auto;
    width: 100%;
    height: 55px;
    padding: 10px;
}

.container{
	width: 98% !important;
}
.mid-navigation{
	width: 80%;	
}
.left-navigation{
	width: 20%;
	background: #fff;	
}
.right-navigation{
	width: 20%;
	background: #fff;
}

.navbar{
	border-radius: 0;
}
.navbar-default {
    background-color: #000000;
    border-color: #e7e7e7;
    color: #fff;
    font-size: 13px;
}    
.navbar-default .navbar-brand {
	color: #FFF;
}

.navbar-brand{
    float: left;
    padding: 15px;
    font-size: 13px;
    line-height: 20px;
    height: 39px;
    text-transform: uppercase;
}

.nav .navbar-nav > a{
	color: #FFF;	
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.media-body {
    width: 60%;
}
.list-group-item{
	border: none;
	border-bottom: 1px solid #e2e2e2;
	padding: 8px 16px;
}
.list-group-item:last-child{
	border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
	border-top-right-radius: 0px;
    border-top-left-radius: 0px;    
}
.list-group-item:first-child{
	border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;	
	border-top-right-radius: 0px;
    border-top-left-radius: 0px;    
}

.singer-cover-listing{
	background: #fff;
    /*border: 2px solid #AD974F;*/
    border-radius: 50%;
    /*height: 50px;*/
    width: 40px;
    position: relative;

    margin-right: 10px;
}

.small-singer-cover-listing{
    border-radius: 50%;
    width: 24px;
    position: relative;
}

.song-lyrics{
	font-family: Nyala, "Raleway", Arial, sans-serif;
	color: #9a9896;
	font-size: 12px;
}

.all-song-items-container{
	background: #fff;
	padding-top: 12px !important;
}
.audio-header{
	padding-left: 35px;
	padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
}
.sort-container{
	height: 90px;
	background: #f1f1f1;
	.sort-items-holder{
		
		margin-right: 30px;
		.sort-item{
    		border-right: 1px solid #dadada;
    		height: 90px;
    		padding: 14px 26px;
			height: 90px;
            .sort-icon-description{
                margin-right: 10px;
                padding: 14px 0px;
                background: #ffffff;
                border-radius: 50%;
                width: 55px;
                height: 55px;
                text-align: center;
                .description-icon{
                    color: $main-logo-color;
                    font-size: 18px;
                }
            }
            .text-area{
                font-size: 14px;
                color: #000;
                font-weight: 800;
                text-transform: uppercase;
			     .amharic-text{

			     }
			     .english-text{

			     }
                 .sort-icon-container{
                    text-align: center;
                 }
                 .count-number{
                    text-align: center;  
                    font-size: 16px;
                 }
            }     
		}
	}
}
.singer-name-listing{
	font-weight: 200;
    font-size: 14px;
}
.current-singer-name{
	font-size: 16px;
    font-weight: 700;
    color: black;
    text-transform: uppercase;
    margin-left: 20px;
    margin-top: 6px;
}
.current-song-title{
	margin-left: 20px;	
}
.song-action-buttons{
	font-size: 16px;
	color: #bfbfbf;
    cursor: pointer;
}
.site-toggle-buttons{
	font-size: 12px;
	color: #7b7b7b;
    padding: 0px 10px;
    cursor: pointer;	
}
.song-title {
	cursor: pointer;
	font-family: Nyala, "Raleway", Arial, sans-serif;
}
#playlist a.active{
	color: red;
}
#playlist div a.active{
	color: red;
}
.song-title-span{	
    margin-left: 10px;
}
.slogan{
	color: #a0a0a0;
    position: absolute;
    margin-top: 36px;

}
.amharic{
	font-family: nyala;
}

#audioplayer{
  width: 480px;
  height: 75px;
  margin: 50px auto auto auto;
  border: solid;
  text-align:center;
  background-color: rgba(5, 173, 13, 0.49);
}
.mz-btns{
	height: 32px;
	line-height: 32px;
	border-radius: 0;
	font-size: 9px;
	margin-right: 3px;
}
.btns-small{
	height: 26px;
    line-height: 26px;
    padding: 0 15px;
    border: 1px solid #e2e2e2;
    color: #8e8e8e;
}
.side-listing-container{
    padding: 6px 0px;
    margin: 10px 0;
    overflow: auto;
    font-size: 12px;
    padding-right: 6px;
    border-top: 1px solid #f1f1f1;
}

.title-container{
	/*background: #a2a2a2;*/
    padding: 6px 12px;
	color: #888;    
    .big-title{
		text-transform: uppercase;
    	font-weight: 800;    
    }
    .small-title{		
    	font-size: 14px;
    	font-weight: 600;   
    }
}
.side-content-container{
}
.popover{
	border-radius: 0;
}
.popover-title {
    margin: 0;
    font-family: "Raleway", Arial, sans-serif;
    padding: 8px 14px;
    font-size: 11px;    
    line-height: 18px;
    background-color: #f7f7f7;
    text-transform: uppercase;
    font-weight: 800;    
}
.hidden {
  display: none;
}
.highlighted{
	color: #ff5858 !important;
}
.now-playing-highlighted{
    color: #a90d0d !important;   
}
.active-song-holder{
    border: 1px solid $main-logo-color !important;   
}
.song-holder{
	height: 250px;
    width: 200px;
    display: inline-block;
    margin: 4px 0 4px 10px;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
   
    .song-item{
    	height: 219px;    	
    }
    .play-button-area{
		
    	text-align: center;
    	padding: 6px;
    	.play-button{    		
    		margin-left: auto;
    		margin-right: auto;

            width: 66px;
            height: 66px;
            padding-top: 8px;
            border-radius: 50%;
            border: 1px solid #f1f1f1;
            padding-left: 5px;            
            background: #f5f5f578;



    		.p-button{
    		    position: relative;
    			top: 10px;
    			font-size: 26px;
    			color: #bfbfbf;
                cursor: pointer;
    		}

    	}
        .play-button-active{
            margin-left: auto;
            margin-right: auto;        
            width: 50px;
            height: 50px;
            padding-top: 6px;
            border-radius: 50%;
            background: $main-logo-color;   
            .p-button-active{
                position: relative;
                top: 8px;
                font-size: 22px;
                color: #fff;
                cursor: pointer;            
            }
        }
    }
    .song-content-area{
		margin-top: 30px;
    	margin-left: 8px;
    	.song-title-container{
    		font-weight: 600;
    	}
    }
    .see-lyrics-area{
    }
    .song-activity-button-area{
        border-top: 1px solid #e0e0e0;
    	padding: 2px 10px;
    	background: #f7f7f7;
        overflow: visible;    
        height: 29px;	
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;        
    	.action-icon{
    		color: #bfbfbf;
    		cursor: pointer;
            padding-left: 25px;
            outline: none;
    	}
    }

    .song-activity-button-area-active{
        border-top: 1px solid #ff7576;
        padding: 2px 10px;
        background: $main-logo-color;
        overflow: visible;
        height: 29px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px; 
        .action-icon-active{
            color: #fff;
            cursor: pointer;
            padding-left: 25px;
            outline: none;        
        }
    }
    .edit-song-area{
        text-align: right;
        padding: 4px;
        .edit-button{
            position: relative;
            bottom: 40px;
            left: 42px;
            .edit-song-icon{
                font-size: 32px;
                color: #000; 
                cursor: pointer;
            }
        }       
    }
    .likes-count-active{
        color: #fff;
        font-size: 13px;
    }
    .likes-count{
        color: #bfbfbf;
        font-size: 13px;
    }
}